<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.gsb.rv">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gsb_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gsb_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.RV"
        android:usesCleartextTraffic="true">
        <activity android:name=".SaisieEchantActivity"></activity>
        <activity android:name=".VisuRvActivity" />
        <activity android:name=".ListeRvActivity" />
        <activity android:name=".RechercheRvActivity" />
        <activity android:name=".SaisieRvActivity" />
        <activity android:name=".MenuRVActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>